:root {
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextTertiary: #fff;
  --colorHover: #2196f3;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;
  --fontTextPrimary: "Roboto", sans-serif;
}
/*=======================GLOBAL=========================================*/
body {
  font-family: var(--fontTextPrimary);
  color: var(--colorTextPrimary);
  font-size: 14px;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*========================HEADER===============================================*/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-link:hover {
  color: var(--colorHover);
}

.contact-link {
  font-weight: 500;
  letter-spacing: 0.28px;
}
.contact-link:hover {
  color: var(--colorHover);
}
.portfolio {
  padding-top: 30px;
}
/*========================HERO===============================================*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--colorTextTertiary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875; /* 187.5% */
  letter-spacing: 0.96px;
}
.hero-button {
  color: var(--colorTextTertiary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 875px; /* 187.5% */
  letter-spacing: 0.96px;
}

/*========================ADVANTAGES===============================================*/
.advantages {
  padding-top: 95px;
}
.advantages-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages-text {
  color: var(--colorTextSecondary);
  line-height: 1, 71429;
  letter-spacing: 0.42px;
}
/*========================WORK===============================================*/
.work {
  padding-top: 95px;
  padding-bottom: 95px;
}
.work-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
/*========================TEAM===============================================*/
.team {
  padding-top: 95px;
  padding-bottom: 95px;
}
.team-name {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.team-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-text {
  color: var(--colorTextSecondary);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
/*========================PORTFOLIO===============================================*/
.portfolio-nav {
  padding-top: 95px;
  padding-bottom: 95px;
}

.navigation-button {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
}

.project-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2px;
  letter-spacing: 1.08px;
}
.project-text {
  color: var(--colorTextSecondary);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

/*========================FOOTER===============================================*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--colorTextTertiary);
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-link {
  color: var(--colorTextAdditional);
  line-height: 1.71;
  letter-spacing: 0.42px;
}
