:root {
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextTertiary: #fff;
  --colorHover: #2196f3;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;
  --fontTextPrimary: "Roboto", sans-serif;
}
/*=======================GLOBAL=========================================*/
body {
  font-family: var(--fontTextPrimary);
  color: var(--colorTextPrimary);
  font-size: 14px;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*========================HEADER===============================================*/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 93px;
}
.header-contacts {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.header-nav {
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-link:hover {
  color: var(--colorHover);
}

.contact-link {
  font-weight: 500;
  letter-spacing: 0.28px;
}
.contact-link:hover {
  color: var(--colorHover);
}
.portfolio {
  padding-top: 30px;
}
/*========================HERO===============================================*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--colorBackgroundPrimary);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.hero-title {
  color: var(--colorTextTertiary);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
}
.hero-button {
  color: var(--colorTextTertiary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--colorHover);
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/*========================ADVANTAGES===============================================*/
.advantages {
  padding-top: 95px;
}
.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: var(--colorBackgroundSecondary);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  background-color: var(--colorBackgroundSecondary);
}
.advantages-item:nth-child(1)::before {
  background-image: url(../antenna1.svg);
}
.advantages-item:nth-child(2)::before {
  background-image: url(../clock2.svg);
}
.advantages-item:nth-child(3)::before {
  background-image: url(../diagram3.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../astronaut4.svg);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.advantages-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  color: var(--colorTextSecondary);
  line-height: 1.71429;
  letter-spacing: 0.42px;
}
/*========================WORK===============================================*/
.work {
  padding-top: 95px;
  padding-bottom: 95px;
}
.work-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work-photos {
  display: flex;
  column-gap: 30px;
}
.work-photo {
  flex-basis: calc((100% - 60px) / 3);
}
.work-img {
  width: 100%;
}
/*========================TEAM===============================================*/
.team {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: var(--colorBackgroundSecondary);
}
.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.employees {
  display: flex;
  column-gap: 30px;
}
.employee {
  max-width: 270px;
  background-color: var(--colorTextTertiary);
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.employee-img {
  max-width: 100%;
  margin-bottom: 30px;
  width: 100%;
}

.employee-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.employee-text {
  color: var(--colorTextSecondary);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
/*========================PORTFOLIO===============================================*/

.portfolio {
  padding-top: 95px;
  padding-bottom: 95px;
}
.navigation {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.navigation-item {
  margin-bottom: 50px;
}
.navigation-button {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  padding: 6px 25px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.navigation-button:hover {
  background-color: var(--colorHover);
}
.project {
  flex-basis: calc((100% - 60px) / 3);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.project-img {
  margin-bottom: 20px;
  width: 100%;
}
.project-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.project-text {
  color: var(--colorTextSecondary);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

/*========================FOOTER===============================================*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--colorBackgroundPrimary);
}
.footer-img {
  margin: 10px;
  margin-bottom: 20px;
}

.footer-address {
  color: var(--colorTextTertiary);
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-link {
  color: var(--colorTextAdditional);
  line-height: 1.71;
  letter-spacing: 0.42px;
}
